<?xml version="1.0"?>
<robot name="group16Bot">
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder radius="0.1" length="0.2"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <joint name="base_to_laser" type="fixed">
    <parent link="base_link"/>
    <child link="laser"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>

  <link name="laser">
    <visual>
      <geometry>
        <box size="0.02 0.02 0.05"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>
</robot>